<button type="button" class="btn btn-primary" aria-hidden="true"
        ng-csv="attachment.content" lazy-load="true" filename="{{ctrl.get_filename()}}" field-separator=",">
    <span class="glyphicon glyphicon-export"></span>&nbsp;Export&nbsp;CSV
</button>
<button type="button" class="btn btn-primary" aria-hidden="true"
       data-ng-if="ctrl.check_attachment_type('samplesheet')">
    <span class="glyphicon glyphicon-equalizer"
          data-ng-click="ctrl.nglims_samplesheet()"></span>&nbsp;ngLims&nbsp;Samplesheet
</button>