angular
    .module('InitModule', [])
    .constant('init', {
        apiRest: {
        	url: 'DUMMY_REST_URL',
        	callback: 'JSON_CALLBACK',
        },
        bikaApiRest: {
        	host: 'DUMMY_BIKA_HOST',
        },
        irodsApiRest: {
        	irods_resource: 'DUMMY_IRODS_RESOURCE',
        	samplesheet_collection: 'DUMMY_IRODS_SAMPLESHEET_COLLECTION',
        },
        sshApiRest: {
        	host: 'DUMMY_SSH_HOST',
        	user: 'DUMMY_SSH_USER',
        	run_folder: 'DUMMY_RUN_FOLDER',
        	tmp_folder: 'DUMMY_TMP_FOLDER',
        }
	});
