angular
    .module('InitModule', [])
    .constant('init', {
        apiRest: {
        	read: {
        		url: 'DUMMY_READ_REST_URL',
        	},
        	write: {
        		url: 'DUMMY_WRITE_REST_URL',
        	},
        },
        bikaApiRest: {
        	host: 'DUMMY_BIKA_HOST',
        },
        irodsApiRest: {
        	irods_resource: 'DUMMY_IRODS_RESOURCE',
        	samplesheet_collection: 'DUMMY_IRODS_SAMPLESHEET_COLLECTION',
        },
        sshApiRest: {
        	host: 'DUMMY_SSH_HOST',
        	user: 'DUMMY_SSH_USER',
        	tmp_folder: 'DUMMY_TMP_FOLDER',
        	run_folders: [DUMMY_RUN_FOLDERS],
        	run_info_file: 'DUMMY_RUN_INFO_FILE',
        	run_parameters_file:  'DUMMY_RUN_PARAMTERS_FILE',
        }
	});
