<div style="height:100%; padding-top:55px;" data-ng-controller="HomeCtrl">
    <div class="col-sm-12">
        <div class="col-sm-4">&nbsp;</div>
         <div class="col-sm-4">
            <button type="button" data-nq-dropdown="" class="btn btn-primary" style="width:250px;">Open Menu</button>
            <ul class="dropdown-menu dropdown-menu-right" tabindex="-1" role="menu">
                <li tabindex="-1" role="presentation"><a ui-sref="search" role="menuitem"><i class="fic glyphicon glyphicon-search"></i> Search</a></li>
                <li role="separator" class="divider"></li>
                <li tabindex="-1" role="presentation"><a ui-sref="cart" role="menuitem"><i class="fic glyphicon glyphicon-shopping-cart"></i> Shopping Cart</a></li>
            </ul>
             </div>
         <div class="col-sm-4">&nbsp;</div>
        </div>
    </div>
</div>